<ion-view title="Action" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/j8yWIDCeR7CziFRzvBBq_Spider-Verse.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/AvSRBA8HSyWiqjDULTPc_hellboy-december-poster.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/qG0qc9M3TauN1Ic0aZ7j_Mission-Impossible-Fallout-Poster-e1532490624802-800x445.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>