<ion-view title="Comedy/Sitcom" id="page25">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/C7u8ipnked8">
        <img src="img/a24H0JSQiSBOzmWENLDD_71jos2ODTuL._RI_.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/eccm2jutXMQ">
        <img src="img/qLqTIILtRhKi8EjBg1mU_market.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" ui-sref="rickAndMorty()">
        <img src="img/Hq7YpILT0aQvYBK1HvuK_rick-and-morty.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>