<ion-view title="Crime" id="page24">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/-UTQPG6wtu8">
        <img src="img/iW8QBsvQ2rLhOYmUWQvQ_Criminal-Minds-Season-12.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/AoqaZPIzTlQ">
        <img src="img/gCUSn8SmyPhyUvM2kDRA_81ZGiRKlBfL._RI_.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/Brz3Wms4bTs">
        <img src="img/WIn7xfTOT5CrT5CNU2rg_Chicago-PD-cast.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>