<ion-view title="Drama" id="page22">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/PNxGMkcus_g">
        <img src="img/dCSfP2NbRvONFSF5GIul_bryan-cranston-breaking-bad-movie-dan-patrick.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/YByvS6EqVp0">
        <img src="img/frAeUpjcSfqzqtdWl4Fc_twd-sseason-9.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/u-mAQpHeoUA">
        <img src="img/d3nuhWeqSZ2UfU8F1a1a_mgm-AZ04887H_SEASON2-Full-Image_GalleryCover-en-US-1479505337857._UY500_UX667_RI_VaeBJAaGpIs2VefN8AyBljm2vHeNJziAJ_TTW_.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>