<ion-view title="Home" id="page11">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/HG8EbgWsTVKY18T0J7q6_power.jpeg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="home-button-bar1" class="button-bar">
      <a ui-sref="tVGenre()" id="home-button17" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">TV</a>
      <a ui-sref="movieGenre()" id="home-button18" style="border-radius:100px 100px 100px 100px;" class="button button-positive button-block">Movies</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/KrkcONT0H19D3VZmFhgo_avengers.jpg" style="display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>