<ion-view title="Horror" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/lAyDRjAFQWagYFw38IEy_pasted-image-0-1-900x470.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/QYjwBLSATfhj9sndauUs_Jason-Clarke-in-Pet-Sematary-poster.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/Yfo9PE2TSuhLt46raWBE_IT-2017-Movie-Poster.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>