<ion-view title="Most Popular" id="page21">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://www.netflix.com/title/80057281">
        <img src="img/SxADnqANRnC4sNhAQRJU_lede.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/tNH_bK0OuKc">
        <img src="img/yNfsdZdnSrq1fSmIeYc8_euphoria.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.netflix.com/title/70264888">
        <img src="img/uGDZ2s62TTGhxErB8xyg_1u9oMlgcW6PwwTtxBKdGzUQ.jpeg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>