<ion-view title="Most Popular" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/md5f7HO8T3q1ryqliyg5_heres-an-official-avengers-endgame-promo-photo-featuring-the-team-in-their-new-costumes1.png" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/YyHxfWJ2QeW4qOkrfnz0_john.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/llzGkKFeQoOUahD2BdCo_Us-Movie-2019-Banners-Posters-Tethered.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>