<ion-view title="Movie Genre" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="movieGenre-list4">
      <ion-item class="item-avatar dark" id="movieGenre-list-item2" ui-sref="newRealeses()">
        <img src="img/6muITHMRvSsv5HOBDRyJ_spiderman.jpg">
        <h2dark>New Releases</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="movieGenre-list-item3" ui-sref="mostPopular()">
        <img src="img/3dnPQIn3RbygBDEqG28j_JOHNavatar.jpg">
        <h2dark>Most Popular</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="movieGenre-list-item5" ui-sref="action()">
        <img src="img/u5DpEmFhTSmcsyJnSEmp_avengers-endgame-imax-poster-crop.png">
        <h2dark>Action</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="movieGenre-list-item6" ui-sref="comedy()">
        <img src="img/BVuvmz7sS42lpJl3hP5E_tDFNUuYkQ4ZeAlrBHeTtimAumXo.jpg">
        <h2dark>Comedy</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="movieGenre-list-item7" ui-sref="horror()">
        <img src="img/lSPT2tsCQ3qoxsiZhBZb_17-halloween-mask.w700.h700.jpg">
        <h2dark>Horror</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="movieGenre-list-item8" ui-sref="drama()">
        <img src="img/3JIHR6LQvaq58lwmD71A_fences-movie-2016.jpg">
        <h2dark>Drama</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="movieGenre-list-item9" ui-sref="animation()">
        <img src="img/NPYJSAwsT8W0rfpwBjjp_632f1b23a6935d25364c80090c3ee8ce2f565883_hq.jpg">
        <h2dark>Animation</h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>