<ion-view title="New Realeses" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="spiderManFarFromHome()">
        <img src="img/TiAuMYmcRvaIvl5igpZf_spiderman-far-home-poster.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/CNq3QA00Q6uacTyeTHXf_toy-story-4-gets-a-new-trailer-with-more-footage-a-poster-and-keanu-reeves-talks-about-duke-kaboom-social.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <img src="img/3XTcUDBhRD51mTPBOPMQ_Childs-Play-2019-Featured-Image.png" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>