<ion-view title="New Releases" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/Xl4Ufw7h4uQ">
        <img src="img/PMQaF29oRCGW5xIhCK0s_1147533.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/WB1r6gbBFio">
        <img src="img/lacm8FIQiGaBKrxbK39Q_cq5dam.web.1200.675.jpeg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/1RiZBTaFUbU">
        <img src="img/u84UubkQbKe2A35gBWYA_Veep-TV-show-on-HBO-canceled-or-season-7-canceled-or-renewed-Vulture-Watch-590x332.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>