<ion-view title="Omnia" id="page1">
  <ion-content padding="true" style="background: url(img/FP502HRQJ2Os5x4zFu7l_adobestock_162467459.jpeg) no-repeat center;background-size:cover;" class="has-header">
    <form id="omnia-form2" class="list">
      <label class="item item-input" id="omnia-input5">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="omnia-input6">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="home()" id="omnia-button2" class="button button-positive button-block">Login</a>
    <a ui-sref="signUp()" id="omnia-button3" class="button button-positive button-block">Register</a>
  </ion-content>
</ion-view>