<ion-view title="pref 1" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="pref1-heading2" style="color:#862DFB;text-align:center;">Preferences</h1>
    <div id="pref1-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#862DFB;">Choose truthfully!</p>
    </div>
    <div id="pref1-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#862DFB;">Do you prefer movies or TV shows?</p>
    </div>
    <form id="pref1-form3" class="list">
      <ion-radio id="pref1-radio1" name="#862DFB">Movies</ion-radio>
      <ion-radio id="pref1-radio2" name="#862DFB">TV Shows</ion-radio>
    </form>
    <div id="pref1-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#862DFB;">Do you get invested in the characters while watching?</p>
    </div>
    <form id="pref1-form4" class="list">
      <ion-radio id="pref1-radio3">Yes</ion-radio>
      <ion-radio id="pref1-radio4">No</ion-radio>
    </form>
    <a ui-sref="pref2()" id="pref1-button5" class="button button-positive button-block">Continue</a>
  </ion-content>
</ion-view>