<ion-view title="pref 2" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="pref2-heading4" style="color:#862DFB;text-align:center;">Preferences</h1>
    <div id="pref2-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#862DFB;">Choose truthfully!</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="pref2-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#862DFB;">Do you prefer fiction or non-fiction?</p>
    </div>
    <form id="pref2-form5" class="list">
      <ion-radio id="pref2-radio5">Fiction</ion-radio>
      <ion-radio id="pref2-radio6">Non-fiction</ion-radio>
    </form>
    <a ui-sref="home()" id="pref2-button4" class="button button-positive button-block">Tap me!</a>
  </ion-content>
</ion-view>