<ion-view title="Reality " id="page23">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/BZtHM3YtF2E">
        <img src="img/M7VLJg8XTyiOS7IU7Dv5_0723_RHV_masterchef.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/dGP1vA4ebaU">
        <img src="img/DwWtj9XYQMulKdArzU7P_maxresdefault.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 7px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://youtu.be/tYaGAmAUUCg">
        <img src="img/U51XfhT5RBaeNaytxgTg_91gKqpfcK6L._RI_.jpg" style="display: block; width: 100%; height: 40%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>