<ion-view title="Rick and Morty" id="page26">
  <ion-content padding="true" class="has-header">
    <iframe width="100%" height="40%" src="https://www.youtube.com/embed/WNhH00OIPP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <h1 id="rickAndMorty-heading8" style="color:#862DFB;text-align:center;">Synopsis</h1>
    <div id="rickAndMorty-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Morty's life is changed when his grand-father, Rick , reunites himself with his family after being missing for 20 years. Being a brilliant scientist, Rick brings Morty along on his intergalactic adventures and come across many obstacles, both
          at home and in space.</strong>
      </p>
    </div>
    <h3 id="rickAndMorty-heading9" style="color:#862DFB;text-align:center;">More like Rick and Morty</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="rickAndMorty-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="rickAndMorty-slide213" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/eekye6NYQCSzLF0yokrL_family-guy.jpg" style="display: block; width: 100%; height: 175px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="rickAndMorty-slide214" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/dE7eG9BPTy66zDVqTS2v_61nLOuR3DgL.jpg" style="display: block; width: 100%; height: 175px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="rickAndMorty-slide215" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/dDLmSvzATUyIkFSzZlVc_514jPev4rjL._SX425_.jpg" style="display: block; width: 100%; height: 175px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>