<ion-view title="Sign Up" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form1" class="list">
      <ion-list id="signUp-list1">
        <label class="item item-input" id="signUp-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Omnia">
        </label>
        <label class="item item-input" id="signUp-input2">
          <span class="input-label">Email</span>
          <input type="email" placeholder="omniadas@gmail.com">
        </label>
        <label class="item item-input" id="signUp-input3">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password1234">
        </label>
      </ion-list>
      <label class="item item-input" id="signUp-input4">
        <span class="input-label">Verify</span>
        <input type="password" placeholder="Password12345">
      </label>
      <a ui-sref="pref1()" id="signUp-button1" class="button button-stable button-block">Continue</a>
    </form>
  </ion-content>
</ion-view>