<ion-view title="Spider-Man: Far From Home" id="page12">
  <ion-content padding="true" class="has-header">
    <iframe width="300" height="194" src="https://www.youtube.com/embed/8p6PsoccZog" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <h1 id="spiderManFarFromHome-heading6" style="color:#862DFB;text-align:center;">Synopsis</h1>
    <div id="spiderManFarFromHome-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFDFD;">
        <strong>Following the tragic events of Avengers: Endgame, Spider-Man must step up and become the hero the world needs, while also being a high school student.</strong>
      </p>
    </div>
    <h3 id="spiderManFarFromHome-heading7" style="color:#862DFB;text-align:center;">More like Spider-Man: Far From Home</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="spiderManFarFromHome-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="spiderManFarFromHome-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/ONJm9eFWSQuEMrV0HoXG_Spider-Verse.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="spiderManFarFromHome-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/UIBRqT4ERLGSqb5QJUui_4233359.jpg" style="display: block; width: 100%; height: 175px; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="spiderManFarFromHome-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/XLVxut8JTMWIUzDkEiG4_177538-h" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>