<ion-view title="TV Genre" id="page19">
  <ion-content padding="true" class="has-header">
    <ion-list id="tVGenre-list5">
      <ion-item class="item-avatar dark" id="tVGenre-list-item10" ui-sref="newReleases()">
        <img src="img/wl5Iqk6nSyyGXwFPdKoY_cq5dam.web.1200.675.jpeg">
        <h2dark>New Releases</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="tVGenre-list-item11" ui-sref="mostPopular2()">
        <img src="img/R8T5JigUR4uXAufMof5Y_cq5dam.web.1200.675.jpeg">
        <h2dark>Most Popular</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="tVGenre-list-item12" ui-sref="drama2()">
        <img src="img/eFPAkFtYQMKu8IM2LrKz__e882c104-18a3-11e9-b6e9-9c4bb39de67f.jpg">
        <h2dark>Drama</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="tVGenre-list-item13" ui-sref="crime()">
        <img src="img/Zpn8y4JTCqqrPS8ZB1e5_103572_d811b-h_2016.jpg">
        <h2dark>Crime</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="tVGenre-list-item14" ui-sref="reality()">
        <img src="img/5Hph2ByIRPu1ZtcuBdig_Sweet-Ps-BBQ-002.jpg">
        <h2dark>Reality</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="tVGenre-list-item15" ui-sref="comedySitcom()">
        <img src="img/8DsGRgCBQYWvhJsaxEwr_rehost_2f2016_2f9_2f13_2f1b5cb41f-6c9f-4862-ae3a-107fd32008ab_1_.jpg">
        <h2dark>Comedy/Sitcom</h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>